# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/

# Logs & runtime
Files/Log/
app/Files/Log/
*.log

# Media outputs
Files/Media/
Files/Videos/
app/Files/Videos/
Files/Tracking/

# Models & large binaries
*.pt
*.onnx

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
